@chasert "utf-8";

html {
    height: 100%;
}

header {
    padding-top: 150px;
}

body {
    height: 100%;
    background: linear-gradient(180deg, #3C4767 70%, #D5553D);
}

p {
    color: white;
}

.welcome {
    padding-top: 5%;
    text-align: center;
    margin-bottom: 20%;
}

.new {
    margin-top:25%;
    font-size: 15px;
    margin-left: 20%;
}

form {
    color: white;
    margin-left: 21%;
}

a {
    color: white;
}

.main-title {
    font-size: 28px;
    text-align: center;
    margin: 0 auto;
    width: 350px;
    height: 200px;
}

#container {
    margin: 0 auto;
    width: 300px;
    height: 45%;
    background: rgba(0, 0, 0, 0.107);
    border-radius: 10px;
    padding-top: 5%;
}

#form {
    margin: 0 auto;
    width: 400px;
    height: 350px;
    background: #2c344b;
}

.input {
    border-radius: 3px;
    padding: 2% 4% 2% 4%;
    border: none;
    margin-top: 3%;
}
.button{
    color: white;
    background: #636f8f;
    padding: 2% 10% 2% 10%;
    margin-left: 39%;
    border-radius: 3px;
    border: none;
}

/* 新しく作成ページ */

h2{
    color: white;
    text-align: center;
    padding-bottom: 5%;
}
.back{
    text-align: center;
    margin-top: 20%;
}
.UserName{
    margin-bottom: 6%;
}
.MailAdress{
    margin-bottom: 6%;
}
.password{
    margin-bottom: 6%;
}
.Password-confirm{
    margin-bottom: 6%;
}



#clear{
    text-align: center;
}
.btn{
    color: white;
    background: #636f8f;
    padding: 2% 0% 2% 0%;
    width: 45%;
    margin: 0 auto;
    margin-top: 10%;
    border-radius: 3px;
    border: none;
}