@charset "utf-8";

html {}

body {
    background: #ffffff;
}

/* header */
header {
    background: #3C4767;
}

#head {
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: space-between;
}

.title{
    width:200px
}

.header-menu {
    width: 250px;
    display: flex;
    align-items: center;
}
.menu-wrap{
    width: 100%;
    margin-top: 20%;
}

a{
    color: #fff;
}

/* プルダウンメニュー */
.menu-trigger p { /* 名前　さん */
    color: white;
    width: max-content;
}

.my-image {/* 画像 */
    margin-top: 25px;
    margin-right: 40px;
    border-radius: 50%;
    width: 50px;
    /* ※縦横を同値に */
    height: 50px;
}
.round{
    border-radius: 50%;
    width: 40px;
    /* ※縦横を同値に */
    height: 40px;
}
.menu-trigger {/* クリックするところ */
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  .menu-trigger span {/* 線を表す */
    display: block;
    position: absolute;
    width: 15px;
    border-bottom: solid 3px #fff; /* 横線を表す */
    border-radius: 3px;
    transition: .35s ease-in-out; /*変化の速度を指定*/
  }


.menu-trigger span:nth-child(2) {/* １本目表す */
    top: 5px;
    left: 119px;
    transform: rotate(45deg);
  }
.menu-trigger span:nth-child(3) {/* ２本目表す */
    top: 5px;
    left: 129px;
    transform: rotate(-45deg);
  }
  /* 斜めと位置調整 */
.menu-trigger.active span:nth-child(2) {
    top: 5px;
    left: 119px;
    transform: rotate(-45deg);
}
 
/* 2番目を斜めと位置調整 */
.menu-trigger.active span:nth-child(3) {
    top: 5px;
    left: 129px;
    transform: rotate(45deg);
}
.g-navi {
    display: none;
  }

.g-navi.active{
    display: flex;
    position: absolute;
    right: 0%;
    height: fit-content;
    width: 30%;
    transform: translateY(79%);
    transition: .5s ease-in-out;
  }

  .g-navi ul{
    display: block;
  }
  .nav-item{
    padding: 20px;
    text-align: center;
    border: solid 1px #6C6C6C;
    background: white;
  }
  .nav-item a{
color: #767676;
  }
  .nav-item:hover{
    padding: 20px;
    text-align: center;
    border: solid 1px #6C6C6C;
    background: rgb(255, 118, 118);
    color: white;
  }





/* 右側のコンテンツ */
#row {
    display: flex;
    justify-content: space-between;
}

#side-bar {
    flex: 0 0 30%;
    border-left: 2px solid #6C6C6C;
}
#confirm{
    border-bottom: 1px solid rgb(143, 143, 143);
    height: 225px;
    color: #6C6C6C;
}
#name{
    margin-top: 15px;
    margin-left: 10px;
}
#follow{
    display: flex;
    margin-left: 10%;
    margin-top: 7%;
    margin-bottom: 5%;
    justify-content: space-between;
    width: 75%;

}
.follows{
    width: 100%;
}
#count{
    margin-left: 20%;
}
.follow-btn{
    color: white;
    font-size: 13px;
    text-align: center;
    background: #636f8f;
    padding: 10px 10px;
    width:110px;
    float: right;
    margin-right: 3%;
    border-radius: 3px;
    border: none;
    margin-bottom: 7%;
}
.user-btn{
    color: white;
    font-size: 13px;
    text-align: center;
    background: #636f8f;
    padding: 5% 5%;
    width:110px;
    margin: 0 auto;
    margin-top: 10%;
    border-radius: 3px;
    border: none;
    margin-bottom: 7%;
}


/* メインコンテンツ */
.container{
    width: 100%;
}




/* つぶやきコンテンツ */
.post-control{
    width: 100%;
    height: 90px;
    resize: none;
}
.post-group{
    width: 100%;
    border: none;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #6C6C6C;;
}
.main-image {
    display: block;
    border-radius: 50%;
    width: 70px;
    /* ※縦横を同値に */
    height: 70px;
    margin-left: 15%;
}
.post-control{
    border: none;
    margin-left: 5%;
    width: 80%;
}
.post-btn{
    border: none;
    margin-top: 4%;
    margin-right: 15%;
    margin-left: 1%;
}




/* index部分 */
tr{
    border: 1.5px solid #767676;
    word-break: break-word;
    height: auto;
}
.table{
    width: 100%;
    height: auto;
}


.user-name{
    color: #767676;
    font-size: 15px;
    width: fit-content;
    display: block;
    position: relative;
    vertical-align: top;
    margin-top: -5%;
}
.user-post{
    color: #767676;
    font-size: 20px;
    display: block;
    width: 390px;
    height: auto;
}
.post-time{
    color: #767676;
    font-size: 15px;
    position: relative;
    vertical-align: top;
}
.post-image{
    border-radius: 50%;
    width: 70px;
    /* ※縦横を同値に */
    height: 70px;
    margin-top: 10px;
    margin-left: 10px;
}
.trush{
    vertical-align: baseline;
    width: 60px;
    display: block;
}
.update{
    vertical-align: baseline;
    width: 38px;
}


/* モーダル部分 */
.modal-main{
    display: none;
}  
  .modal-inner {
    /* overflow-y: scroll; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 30%;
    background-color: #ffffff;
    color: #666666;
    position: fixed;
    top: 15%;
    left: 15%;
    z-index: 2;
    border-radius: 3%;
  }
  
  .inner-content{
    text-align: center;
    margin: 0;
    padding: 0;
    max-width: 1024px;
  }
  
  .modal-inner img{
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  
  .inner-title{
    margin-top: 40px;
    margin-bottom: 32px;
    font-size: 2.8rem;
    font-weight: bold;
  }
  
  .inner-text{
    font-size: 1.6rem;
    width: 70%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  
  .modalClose{
    cursor: pointer;
  }


  /* フォローリスト */
.follow{
    color: rgb(106, 106, 106);
    font-size: 30px;
    margin: 3% 2%;
}

.user-image{
    border-radius: 50%;
    width: 70px;
    /* ※縦横を同値に */
    height: 70px;
    margin: 1%;
}
.user-box{
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #767676 ;
    padding-bottom: 5%;
}


/* ユーザー検索 */

.search-box{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.search-list{
    display: flex;
    flex-direction: column;
}
.user-inform{
    display: flex;
    align-items: center;
    margin: 28px 0px 0px 32px;;
}


.btn-follow{
    background: #96b3f4;
    color: #fff;
    padding: 15px;
    border-radius: 3px;
    border: none;
    float: right;
    margin: -4% 5% 2% 0%;
    width: 150px;
}

.btn-follower{
    background: #f09090;
    color: #fff;
    padding: 15px;
    border-radius: 3px;
    border: none;
    float: right;
    margin: -4% 5% 2% 0%;
    width: 150px;
}

.username{
    font-size: 20px;
    color: #767676;
    margin: 10px 9px 12px 20px;
    width: 350px;
}


/* プロフィール */

.profile{
    margin: 10% 5%;
}

.profile-label{
    display: inline-block;
    width: 190px;
}

.update-btn{
    background: #7ab07a;
    color: #fff;
    font-size: 20px;
    border: none;
    padding: 7px 45px;
    border-radius: 10px;
}

#userName{
    background: #f1f1f1;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 1%;
}

#mailAdress{
    background: #f1f1f1;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 1%;
}

#password{
    background: #f1f1f1;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 1%;
}

#newPassword{
    background: #f1f1f1;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 1%;
}

#bio{
    background: #f1f1f1;
    border-top: none;
    border-left: none;
    border-right: none;
        width:168px;
        height:70px;
}

#iconImage{
    background: #f1f1f1;
    padding: 11% 2%;
}
.browse_btn {
background-color: #d3d3d3;
padding: 6px;
border-radius: 8px;
font-weight: bold;
}

#container-profile{
display: flex;
margin-left: 10%;
}

/* 他の人のプロフィール */
.profile-contents{
    width: 100%;
}
.pofile-index{
    border: none;
}

.plofile-name{
    display: block;
}
.plofile-name p{
    display: inline;
    margin-left: 10%;
    white-space:nowrap;
}
.plofile-bio{
    display: block;
}
.plofile-bio p{
    display: inline;
    padding: 0%;
    white-space:nowrap;
}